*{
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
body{
    margin: 0px;
    padding: 0px;
    /* background: url(/PICTURE/girl-3253532_1920.jpg); */
    background-image: url('/PICTURE/girl-3253532_1920.jpg');
}
#left{
    /* border: 2px solid red; */
    position: absolute;
    display: inline-block;
    left: 25px;
    top: 15px;
    /* margin: auto 10px;
    width: 150px; */
}
#left img{
    width: 80px;
    /* filter: invert(100%); */
}
#mid{
    /* border: 2px solid red; */
    display: block;
    width: 42%;
    margin: 18px auto;
}
.navbar{
    display: inline-block;
    padding: 0px 0px;
}
.navbar li{
    display: inline-block;
    font-size: 22px;
    font-style:bold;
    /* float: left; */
}
.navbar li a{
    /* border: 2px solid red; */
    color: white;
    text-decoration: none;
    padding: 16px 23px;
}
.navbar li a:hover{
    
    color: rgb(255, 253, 147);
    text-decoration: underline;
    padding: 16px 23px;
}
#right{
    /* border: 2px solid red; */
    position: absolute;
    right: 12px;
    top: 29px;
}
.btn{
    cursor: pointer;
    margin: 0px 9px;
    background-color:transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 6px 22px;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover{
    background-color: rgb(255, 244, 224);
    color: black;
    border: 2px solid black;
}
.container{
    border: 2px solid white;
    border-radius: 10px;
    margin: 42px 123px;
    padding: 5px 5px;
    display: inline-block;
    width: 41%;

}
.container h3{
    text-align: center;
    color: white;
    font-size: 32px;
}
.container input{
    display: block;
    margin: 10px auto;
    width: 63%;
    text-align: center;
    font-size: 23px;
}
.container .btn{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 25%;
    margin-left: 439px;
}